<div class="grid grid-cols-2 justify-between gap-8 justify-self-center laptop:justify-self-center laptop:grid-cols-custom desktop:justify-self-center desktop:grid-cols-custom desktop-large:justify-self-start desktop-large:grid-cols-custom">
    <ul class="m-0 p-0 list-none">
      <li class="py-2 text-base">Adventure Ted Program</li>
      <li class="text-sm"><a class="text-tertiary no-underline" href="/program">Adventure Ted Program</a></li>
      <li class="text-sm"><a class="text-tertiary no-underline" href="/apply">Apply</a></li>
    </ul>
    <ul class="m-0 p-0 list-none">
      <li class="py-2 text-base">Events</li>
      <li class="text-sm"><a class="text-tertiary no-underline" href="/upcoming-events">Upcoming events</a></li>
      <li class="text-sm"><a class="text-tertiary no-underline" href="/past-events">Past events</a></li>
    </ul>
    <ul class="m-0 p-0 list-none">
      <li class="py-2 text-base">Volunteer</li>
      <li class="text-sm"><a class="text-tertiary no-underline" href="/why-volunteer">Why volunteer?</a></li>
      <li class="text-sm"><a class="text-tertiary no-underline" href="/volunteer-opportunities">Volunteer opportunities</a></li>
    </ul>
    <ul class="m-0 p-0 list-none">
      <li class="py-2 text-base">About</li>
      <li class="text-sm"><a class="text-tertiary no-underline" href="/about-ccs">About CCS</a></li>
      <li class="text-sm"><a class="text-tertiary no-underline" href="/founder-message">Message from our founder</a></li>
      <li class="text-sm"><a class="text-tertiary no-underline" href="/how-to-help">How you can help</a></li>
    </ul>
    <ul class="m-0 p-0 list-none">
      <li class="py-2 text-base">Store</li>
      <li class="text-sm"><a class="text-tertiary no-underline" href="/ccs-store">Why volunteer?</a></li>
      <li class="text-sm"><a class="text-tertiary no-underline" href="/about-store">About CCS store</a></li>
    </ul>
    <ul class="m-0 p-0 list-none">
      <li class="py-2 text-base">Contact</li>
      <li class="text-sm"><a class="text-tertiary no-underline" href="/phone">(848) 200-2111</a></li>
      <li class="text-sm"><a class="text-tertiary no-underline" href="/address">P.O. Box 221<br> 189 Berdan Avenue,<br> Wayne, NJ 07470</a></li>
      <li class="text-sm"><a class="text-tertiary no-underline" href="/email">email@ccs.org</a></li>
    </ul>
  </div>

  <div class="flex flex-col items-center desktop-large:justify-self-end">
    <a href="/">
      <img src="/assets/img/logos/logo.png" alt="logo" width="176" height="176" class="w-44 content-center mx-auto mb-4" />
    </a>
    <input type="text" placeholder="Search" name="search" id="search" class="content-center mx-auto mb-4 bg-tertiary rounded-lg p-2 min-w-1/2 border-0 laptop:min-w-2/5 desktop-large:min-w-4/5" />
    <div class="text-center">&copy; Childhood Cancer Society | <a class="text-tertiary no-underline" href="accessibility">Accessibility</a> | <a class="text-tertiary no-underline"
        href="privacy-policy">Privacy Policy</a></div>
  </div>

  <div class="flex flex-row justify-self-center desktop-large:justify-self-start">
    <a class="mx-4 desktop-large:mr-6" href="https://www.instagram.com/childhoodcancersociety/" target="_blank" rel="noopener noreferrer">
      <img src ="/assets/img/icons/instagram.svg" alt="instagram logo" class="w-8"/>
    </a>
    <a class="mx-4 desktop-large:mr-6" href="https://www.youtube.com/channel/UCnca1uLAMGTTbODJgwF04jA" target="_blank" rel="noopener noreferrer">
      <img src ="/assets/img/icons/youtube.svg" alt="youtube logo" class="w-8"/>
    </a>
    <a class="mx-4 desktop-large:mr-6" href="https://www.facebook.com/ChildhoodCancerSociety" target="_blank" rel="noopener noreferrer">
      <img src ="/assets/img/icons/facebook.svg" alt="facebook logo" class="w-8"/>
    </a>
    <a class="mx-4 desktop-large:mr-6" href="https://mobile.twitter.com/cancersocietyus" target="_blank" rel="noopener noreferrer">
      <img src ="/assets/img/icons/twitter.svg" alt="twitter logo" class="w-8"/>
    </a>
    <a class="mx-4 desktop-large:mr-6" href="https://www.linkedin.com/company/childhood-cancer-society" target="_blank" rel="noopener noreferrer">
      <img src ="/assets/img/icons/linkedin.svg" alt="linkedin logo" class="w-8"/>
    </a>
  </div>
</div>