<div class="site-map">
    <ul>
      <li>Adventure Ted Program</li>
      <li><a href="/program">Adventure Ted Program</a></li>
      <li><a href="/apply">Apply</a></li>
    </ul>
    <ul>
      <li>Events</li>
      <li><a href="/upcoming-events">Upcoming events</a></li>
      <li><a href="/past-events">Past events</a></li>
    </ul>
    <ul>
      <li>Volunteer</li>
      <li><a href="/why-volunteer">Why volunteer?</a></li>
      <li><a href="/volunteer-opportunities">Volunteer opportunities</a></li>
    </ul>
    <ul>
      <li>About</li>
      <li><a href="/about-ccs">About CCS</a></li>
      <li><a href="/founder-message">Message from our founder</a></li>
      <li><a href="/how-to-help">How you can help</a></li>
    </ul>
    <ul>
      <li>Store</li>
      <li><a href="/ccs-store">Why volunteer?</a></li>
      <li><a href="/about-store">About CCS store</a></li>
    </ul>
    <ul>
      <li>Contact</li>
      <li><a href="/phone">555-555-5555</a></li>
      <li><a href="/address">12345 ST City, State 98765</a></li>
      <li><a href="/email">email@ccs.org</a></li>
    </ul>
  </div>

  <div class="footer-right">
    <a href="/">
      <img src="./assets/img/logos/logo.png" alt="logo" width="176" height="176" class="footer-logo" />
    </a>
    <input type="text" placeholder="Search" name="search" id="search" class="footer-search" />
    <div>&copy; Childhood Cancer Society | <a href="accessibility">Accessibility</a> | <a
        href="privacy-policy">Privacy Policy</a></div>
  </div>

  <div class="footer-socials">
    <a href="https://www.instagram.com/childhoodcancersociety/" target="_blank" rel="noopener noreferrer">
      <img src ="./assets/img/icons/instagram.svg" alt="instagram" class = "social-icons"/>
    </a>
    <a href="https://www.youtube.com/channel/UCnca1uLAMGTTbODJgwF04jA" target="_blank" rel="noopener noreferrer">
      <img src ="./assets/img/icons/youtube.svg" alt="instagram" class = "social-icons"/>
    </a>
    <a href="https://www.facebook.com/ChildhoodCancerSociety" target="_blank" rel="noopener noreferrer">
      <img src ="./assets/img/icons/facebook.svg" alt="instagram" class = "social-icons"/>
    </a>
    <a href="https://mobile.twitter.com/cancersocietyus" target="_blank" rel="noopener noreferrer">
      <img src ="./assets/img/icons/twitter.svg" alt="instagram" class = "social-icons"/>
    </a>
    <a href="https://www.linkedin.com/company/childhood-cancer-society" target="_blank" rel="noopener noreferrer">
      <img src ="./assets/img/icons/linkedin.svg" alt="instagram" class = "social-icons"/>
    </a>
  </div>
</div>