<script src="/js/mobile-menu.js"></script>
<nav id="nav">
    <a href="/">
        <image src="/assets/img/logos/logo.png" alt="logo" class="logo-nav" />
    </a>
    <div class="logo-nav-txt"><a href="/">Childhood Cancer Society</a></div>
        <ul class="desktop-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/programs">Programs</a></li>
            <li><a href="/events">Events</a></li>
            <li><a href="/store">Store</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contract">Contact</a></li>
        </ul>
    <div class="mobile-nav" id="mobileNav">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/program">Adventure Ted Program</a></li>
            <li><a href="/events">Events</a></li>
            <li><a href="/volunteer">Volunteer</a></li>
            <li><a href="/store">Store</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contract">Contact</a></li>
        </ul>
    </div>
    <div class="mobile-menu-icon" onclick="mobileMenu()">
        <image src="/assets/img/icons/menu-icon-white.png" alt="Menu Icon" id="menuIcon" />
    </div>
    <button class="donate-button">
    <div class="donate-label">
        <div class="donate-icon">
            <image src="/assets/img/icons/white-heart.png" alt="Donate" class="heart-icon" />
        </div>
        <div>Donate</div>
    </div>
    </button>
</nav>

<div class="mobile-donate-btn">
    <a href="">
    <image src="/assets/img/icons/white-heart.png" alt="Donate" class="heart-icon" />
    <div>Donate</div>
    </a>
</div>
