html {
    height: 100%;
    width: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-ccs-color: #452264;
    --secondary-ccs-color: #52B788;
    --font-header-nunito: 'Nunito';
    --font-body-quicksand: 'Quicksand';
}

body {
    font-family: var(--font-body-quicksand), sans-serif;
    background-color: var(--primary-ccs-color);
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0.1px;
}

.hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: url("/assets/images/hero-banner.png") no-repeat center top;
    background-size: cover;
    padding: 4rem 2rem;
    color: #FFF
}

h1, h2, h3 {
    font-family: var(--font-header-nunito), sans-serif;
    font-weight: 600;
    letter-spacing: 0.2px;
}

h1 {
    font-size: 3.5em;
    line-height: 4.5rem;
}

h2 {
    font-size: 2.5rem;
    line-height: 3.5rem;
}

h3 {
    font-size: 2rem;
    line-height: 2.5rem;
}

.hero-container h1, h2, p {
    margin: 0 0 1rem;
}

.submission-header {
    padding-bottom: 0.5rem;
    border-bottom-style: solid;
    border-bottom-color: #52B788;
}