html {
    height: 100%;
    width: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-ccs-color: #452264;
    --secondary-ccs-color: #52B788;
    --tertiary-ccs-color: #FFF;
    --font-header-nunito: 'Nunito';
    --font-body-quicksand: 'Quicksand';
}

body {
    font-family: var(--font-body-quicksand), sans-serif;
    background-color: var(--primary-ccs-color);
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0.1px;
}

section {
    /* display: flex; */
    width: 100%;
}

h1, h2, h3 {
    font-family: var(--font-header-nunito), sans-serif;
    font-weight: 600;
    letter-spacing: 0.2px;
}

h1 {
    font-size: 3.5em;
    line-height: 4.5rem;
}

h2 {
    font-size: 2.5rem;
    line-height: 3.5rem;
}

h3 {
    font-size: 2rem;
    line-height: 2.5rem;
}

.ccs-green {
    color: var(--secondary-ccs-color);
}

.hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: url("assets/images/hero-banner.png") no-repeat center top;
    background-size: cover;
    padding: 6rem 2rem;
    color: var(--tertiary-ccs-color);
    width: 100%;
}

.hero-container h2, .campaign-summary-text-container p, .apply-step-one-container, .apply-step-one-container p, .apply-step-two-container p, .apply-step-four-container p {
    padding-bottom: 1rem;
}

.hero-container h1, .hero-container h2, .hero-container p {
    margin: 0 0 1rem;
}

.hero-body {
    width: 50%;
}

.submission-header {
    padding-bottom: 0.5rem;
    border-bottom-style: solid;
    border-bottom-color: #52B788;
}

.campaign-container {
    position: relative;
    display: flex;
    padding: 4rem 6rem;
    justify-content: center;
    width: 100%;
    /* border: solid 2px yellow; */
}

.campaign-text-content  {
    color: var(--tertiary-ccs-color);
    width: 50%;
}

.campaign-image-container {
    /* position: sticky;
    top: 100%; left: 25%; */
    margin-bottom: -20rem;
    width: 100%;
    height: auto;
    background-image: url("assets/images/ted-campaign.png");
    background-size: contain;
    background-repeat: no-repeat;
    border: solid 2px red;
}

.how-to-apply-container {
    background-image: url("assets/images/apply-section-background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: var(--tertiary-ccs-color);
    padding: 4rem 6rem;
    width: 100%;
}

.how-to-apply-header {
    text-align: center;
    padding-bottom: 6rem;
}

/* .how-to-apply-content {
    
} */

.apply-columns-container {
    padding-bottom: 6rem;
}

.current-submissions-container {
    padding-bottom: 6rem;
    background-color: var(--tertiary-ccs-color);
    border: solid 2px salmon;
}

.apply-columns-container {
    display: flex;
    justify-content: center;
    /* justify-content: space-between; */
    gap: 1rem;
    border: 2px solid red;
}

.column-container {
    height: auto;
    width: auto;
    overflow: hidden;
    border: 2px solid blue;
} 

.clip-top {
    clip-path: polygon(100% 0, 100% 50%, 50% 75%, 0 50%, 0 0);
    height: 15rem;
    width: 15rem;
    background-color: var(--primary-ccs-color);
    border-radius: 0.5rem;
}

.clip-bottom {
    clip-path: polygon(50% 30%, 100% 0, 100% 100%, 0 100%, 0 0);
    height: 15rem;
    width: 15rem;
    background-color: var(--tertiary-ccs-color);
    /* box shadow not working */
    box-shadow: -10px 10px 10px 10px black;
    /* margin: 1rem 0; */
    border-radius: 0.5rem;
}

.current-submissons-header {
    padding-top: 2rem;
    padding-bottom: 1rem;
    text-align: center;
    background-color: var(--tertiary-ccs-color);
}

.main-gallery {
    background-color: var(--tertiary-ccs-color);
    width: 100%;
    max-height: 50rem;
}

.main-gallery img {
    width: 100%;
    max-height: 50rem;
    padding: 0 1rem;
}

/* Cant get dots to be placed on actual images */
.flickity-page-dots {
    bottom: -10rem;
}

.flickity-prev-next-button .arrow {
    color: var(--secondary-ccs-color);
}

  /* @media screen and ( min-width: 768px ) { */
    /* half-width cells for larger devices
    .gallery-cell { width: 50%; }
  } */
  
.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}


.header-container h3 {
    color: var(--secondary-ccs-color);
    padding-top: 2rem;
    padding-bottom: 1rem;
}

.apply-section-content .centered-paragraph, .apply-section-content .application-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.apply-step-one-container, .apply-step-two-container, .apply-step-three-container, .apply-step-four-container, .apply-step-five-container {
    text-align: left;
}

.apply-section-content h4 {
    padding-top: 1rem;
}

.campaign-rules-text-container ol {
    width: 100%;
}

ol li {
    list-style-position: inside;
}

.checklist-container {
    width: 100%;
    height: 25rem;
    background-image: url("assets/videos/checklist-2.gif");
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 1rem;
}

.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.apply-step-one-container h3, .apply-step-two-container h3, .apply-step-three-container h3, .apply-step-four-container h3, .apply-step-five-container h3 {
    width: 100%;
}

.application-button, .view-more-button {
    letter-spacing: 0.2px;
    background-color: var(--secondary-ccs-color);
    border-radius: .5rem;
    border: none;
    width: 168px;
    height: 48px;
}

#application-button-text {
    color: var(--tertiary-ccs-color);
    text-decoration: none;
}

.submission-guidelines-header {
    color: var(--secondary-ccs-color);
    padding-bottom: 1rem; 
}

.apply-step-three-container ol {
    text-align: left;
    padding-bottom: 1rem;
}

.apply-section-content a {
    text-decoration: none;
    color: var(--secondary-ccs-color);
}

.sketch-submissions-container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1rem;
    width: 100%;
}

.sketch-submissions-container img {
    padding: 2rem;
    width: 33.3333%;
}

.view-more-button-container {
    margin: 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.view-more-button {
    color: var(--tertiary-ccs-color);
}

.faq-header {
    color: var(--tertiary-ccs-color);
    font-weight: 400;
    text-align: center;
    margin-bottom: 1rem;
}

.faq-container {
    width: 100%;
}

.faq-accordion-container {
    border-radius: 0.5rem;
    overflow: hidden;
    margin: 0 2rem 2rem;
}

input {
    display: none;
}

label {
    display: block;    
    padding: 1rem 0 1rem 1rem;
    width: 100%;
    cursor: pointer;
    background: var(--tertiary-ccs-color);
    color: var(--secondary-ccs-color);
    transition: ease .5s;
    border-bottom: 1px solid lightgray;
    position: relative;
}

.content {
    background: var(--tertiary-ccs-color);
    padding: 0 0 1rem 1rem;
    border-bottom: 1px solid lightgray;
}

input + label + .content {
    display: none;
}

input:checked + label + .content {
    display: block;
}

input:checked + label {
    border-bottom: none;
}

label::after {
    font-family: "Font Awesome 5 Free";
    content: "\f078";
	font-weight: bold;
    font-size: 22px;
	position: absolute;
    /* controls arrow position */
	right: 1rem;
	top: 1.5rem;
}

input:checked + label::after {
	content: "\f077";
}

/* Mobile */
@media (360px <= width <= 767px) {
    .hero-container, .campaign-container, .how-to-apply-container, .faq-container {
        padding: 2rem;
    }

    .hero-container h1, .hero-container h2, .hero-container p {
        margin: 0;
    }

    .hero-container h3 {
        width: 50%;
    }

    .campaign-container {
        width: 100%;
        background-image: url("assets/images/ted-campaign-mobile.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        height: 75rem;
    }

    .campaign-image-container {
        display: none;
    }

    .how-to-apply-container {
        display: flex;
        background-color: var(--tertiary-ccs-color);
        padding: 4rem 0;
        overflow-x: hidden;
    }

    .checklist-container {
        width: 50%;
        background-image: url("assets/videos/checklist-2.gif");
        background-size: contain;
        background-repeat: no-repeat;
        height: 10rem;
        margin-bottom: 1rem;
    }

    /* .step-five-image-container {
    width: auto;
    height: 15.625rem;
    } */

    .apply-step-four-header, .apply-step-five-header {
        word-wrap: break-word;
    }

    .sketch-submissions-container img {
        padding: 0;
    }

    .faq-container {
        padding: 1rem;
    }
}

/* Small-screen laptop computers */
@media (768px <= width <= 1023px) {
    .apply-step-one-container h3, .apply-step-two-container h3, .apply-step-three-container h3, .apply-step-four-container h3, .apply-step-five-container h3 {
        width: 100%;
    }

    .apply-step-one-container p, .apply-step-two-container p, .apply-step-three-container p, .apply-step-four-container p, .apply-step-five-container p {
        width: 100%;
    }

    /* .apply-section-content h4, .apply-section-content ol {
        width: 100%;
    } */

    .campaign-container {
        width: 100%;
        background-image: url("assets/images/ted-campaign-mobile.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        height: 50rem;
    }

    .campaign-image-container {
        display: none;
    }

    .how-to-apply-container {
        display: flex;
        justify-content: center;
        background-color: var(--tertiary-ccs-color);
        padding: 4rem;
    }

    .checklist-container {
        width: 100%;
        height: 30rem;
        margin-bottom: 1rem;
    }
}

/* Desktop computers */
@media (1024px <= width) {
    .hero-container p {
        width: 40%;
    }
}