@font-face {
    font-family: 'Nunito';
    src: url(fonts/Nunito/Nunito-VariableFont_wght.ttf);
}

* {
    margin: 0;
    padding: 0;
}

body {
    background: #452264;
    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0.1px;
}

.requirements-section-container {
    display: flex;
    width: 100%;
}

.requirements-section-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.requirements-text-container {
    margin-left: 6rem;
    margin-right: 6rem;
}

h2 {
    width: 267.8px;
    height: 53.28px;

    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 2.5rem;
    line-height: 56px;
    letter-spacing: 0.2px;

    color: #FFFFFF;

    margin: 0 0 1rem 0;
}

.requirements-list-container {
    box-sizing: border-box;

    width: 449px;
    height: 91px;

    margin: 0 0 1rem 0;
}

.requirements-list {
    width: 456px;
    height: 71.03px;
    letter-spacing: 0.2px;

    color: #FFFFFF;
}

.requirements-deadline {
    width: 308px;
    height: 1.5rem;
    font-weight: 700;

    letter-spacing: 0.1px;
    text-decoration-line: underline;

    color: #52B788;
}

.checklist-image-container {
    width: 640px;
    height: 400px;

    background-image: url(/images/requirements-background.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.details-section-container {
    display: flex;
    width: 100%;
}

.details-image-container {
    width: 640px;
    height: 592px;

    background-image: url(/images/details_background.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.details-section-right {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    width: 50%;
    height: auto;
}

.details-text-container {
    display: flex;
    flex-direction: column;
    align-items: left;

    margin: 0 0 1rem 2rem;
}

.details-container {
    box-sizing: border-box;

    width: 521px;
    height: 120px;
}

.details-section-list li {
    margin-left: 2rem;

    color: #FFFFFF;
}

.details-section-list .list-header {
    font-weight: bold;
    list-style-type: none;
    letter-spacing: 0.1px;
    margin-left: 0;
    
    color: #52B788;
}

.apply-section-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;

    background: url(/images/apply-background.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.apply-title {
    padding-top: 4rem;
    margin: 0 0 1rem 0;
}

.apply-instructions-container {
    box-sizing: border-box;

    width: 569px;
    height: 177px;
}

.apply-section-list {
    width: 519.72px;
    height: 145px;

    letter-spacing: 0.2px;
/* Having trouble with these margins */
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 2rem;
    color: #FFFFFF;
}

a {
    letter-spacing: 0.1px;
    color: #52B788;
}

.instructions-conclusion-container {
    width: 50%;
    margin: 0 0 2rem 0;
}

.instructions-conclusion {
    color: #FFFFFF;
}

.video-container {
    margin: 0 0 4rem 0;
    width: 800px;
    /* height: auto was not working.  Used 16:9 dimension ratio */
    height: 450px;
}

.apply-today-title {
    margin: 0 0 2rem 0;
}

.apply-button {
    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    background-color: #52B788;
    border-radius: .5rem;

    width: 168px;
    height: 48px;

    margin-bottom: 4rem;
}