@font-face {
    font-family: 'Nunito';
    src: url(fonts/Nunito/Nunito-VariableFont_wght.ttf);
}

* {
    margin: 0;
    padding: 0;
}

body {
    background: #452264;
    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.2px;
}

.requirements-section-container {
    display: flex;
    width: 100%;
}

.requirements-section-left {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: auto;
}

h2 {
    width: 267.8px;
    height: 53.28px;

    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 56px;
    letter-spacing: 0.2px;

    color: #FFFFFF;
}

.requirements-list-container {
    box-sizing: border-box;

    width: 449px;
    height: 91px;

    /* border: 5px solid #FF4444; */
}

.requirements-list {
    width: 456px;
    height: 71.03px;

    text-align: left;
    letter-spacing: 0.2px;
    Margin: 0 0 16px 0;
    /* Is it fine to hard-code padding a bit?  Due to flexbox and how I nested divs, this was just an easy solution... */
    padding-left: 20px;

    color: #FFFFFF;
}

.requirements-deadline {
    width: 308px;
    height: 24px;

    font-weight: 700;

    display: flex;
    align-items: center;
    letter-spacing: 0.2px;
    text-decoration-line: underline;

    color: #52B788;
}

.checklist-image-container {
    width: 640px;
    height: 400px;

    background-image: url(/images/requirements-background.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.details-section-container {
    display: flex;
    width: 100%;
}

.details-image-container {
    width: 640px;
    height: 592px;

    background-image: url(/images/details_background.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.details-section-right {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: auto;
}

.details-text-container {
    display: flex;
    flex-direction: column;
    align-items: left;
}

.details-container {
    box-sizing: border-box;

    width: 521px;
    height: 120px;

    /* border: 5px solid #FF4444; */
}

.details-section-list li {
    margin-left: 25px;

    color: #FFFFFF;
}

.details-section-list .list-header {
    font-weight: bold;
    list-style-type: none;
    letter-spacing: 0.1px;
    
    color: #52B788;
}

.apply-section-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;

    background: url(/images/apply-background.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.apply-instructions-container {
    box-sizing: border-box;

    width: 569px;
    height: 177px;

    margin: 0 0 16px 0;

    border: 5px solid #FF4444;
}

.apply-section-list {
    width: 519.72px;
    height: 145px;

    letter-spacing: 0.2px;

    margin-top: 10px;
    margin-left: 25px;
    color: #FFFFFF;
}

a {
    letter-spacing: 0.1px;
    color: #52B788;
}

.apply-title {
    /* A bit confused on how to determine the exact space between the top of "apply-title" and "apply-section-container" */
    padding-top: 3.5rem;
    margin: 0 0 16px 0
}