<!DOCTYPE html>
<html>

<head>
  {% include "art-to-heart-basehead.html" %}
  {% block head %}{% endblock %}
</head>

<body>
  <header>
    {% include "header.html" %}
  </header>

  <main>
    {{content | safe}}
  </main>

  <footer>
    {% include "footer.html" %}
  </footer>
</body>

</html>