---
layout: layouts/art-to-heart-base.html
description: "Childhood Cancer Society - Art to Heart Campaign.  An enchanted theme park experience for children with pediatric cancer. "
meta-title: "Art to Heart Campaign Application"
tagTitle: "Art to Heart Campaign | Childhood Cancer Society"
permalink: "art-to-heart/"
---

{% block pageCSS %}
<link rel="stylesheet" href="/css/art-to-heart-styles.css" type="text/css">
<link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
{% endblock %}

{% block pageJS %}
<script src="https://kit.fontawesome.com/1266b8cbbe.js" crossorigin="anonymous"></script>
<script src="/js/art-to-heart.js" defer></script>
<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
{% endblock %}

<section>
    <div class="hero-container">
        <div class="hero-heart-container">
            <img class="full-width" src="/assets/img/art-to-heart-images/hero/art-to-heart-heart.png" alt="Art to Heart campaign heart graphic">
        </div>

        <div class="hero-text-container">
            <h1 class="campaign-header">Art to Heart Campaign</h1>
            <h2 class="schedule-header">Start Date - End Date</h2>
            <p class="hero-body">Do you or anyone you are familiar with have pediatric cancer?  Would going on an Enchanted Theme Park 
                Experience be a wish come true?</p>
            <div class="header-underline-container">
                <h3 class="submission-header">Submission Guidelines</h3>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="campaign-container">
        <div class="campaign-text-content">
            <div class="campaign-summary-text-container">
                <h2 class="campaign-header">Art to Heart Campaign</h2>
                <p>We are excited to announce the "Art to Heart Campaign". This contest is designed to provide an outlet for children 
                    to express themselves creatively. Winners of this contest will be able to bring their families on an all-expenses
                    paid VIP Disney/Universal/SeaWorld Vacation with 5-star lodging for a week at Give Kids The World Village.</p>
                <p>Find out how to apply below!</p>
            </div>

            <div class="campaign-rules-text-container">
                <h2 class="rules-header">Rules and Guidelines</h2>
                <ol type="1">
                    <li>Must have pediatric cancer or have had pediatric cancer.</li>
                    <li>Must not have already had a wish grant for a Give Kids The World Vacation or Disney vacation (this includes 
                        Disney cruises).</li>
                    <li>The Wish Grant Child must be in Elementary School (grades K-5).</li>
                    <li>Wish Grant Child must live in the USA.</li>
                    <li><span class="ccs-green">Must be submitted before [Deadline Date].</span></li>
                </ol>
            </div>
        </div>
    
        <div class="campaign-image-container"></div>
    </div>
</section>

<section>
    <div class="how-to-apply-container">
        <div class="how-to-apply-content">
            <div class="apply-header-container">
                <h2 class="how-to-apply-header">How to Apply</h2>
            </div>

            <div class="apply-columns-container">
                <div class="column-container">
                    <div class="column-number-container">
                        <h4 class="column-number">1</h4>
                    </div>

                    <div class="clip-top column-one"></div>

                    <div class="clip-bottom-shell">
                        <div class="clip-bottom">
                            <div class="column-one-top">
                                <img src="/assets/img/art-to-heart-images/steps/step-1-crayon-1.png" alt="Adventure Ted sketch">
                            </div>

                            <h3 class="column-header">
                                <a href="https://docs.google.com/forms/d/e/1FAIpQLSeBCj4ZXODo7p4GA8Q2ehez2aKHT--Oc0E2Y44XVHJpfI8W1A/viewform" 
                                target="_blank" rel="noopener noreferrer">Adventurer Application</a>
                            </h3>

                            <p>Complete the <a href="https://docs.google.com/forms/d/e/1FAIpQLSeBCj4ZXODo7p4GA8Q2ehez2aKHT--Oc0E2Y44XVHJpfI8W1A/viewform" 
                                target="_blank" rel="noopener noreferrer">Adventure Ted Application</a> and check off the Art to Heart Program option!</p>
                        
                            <div class="column-bottom-content-container column-one-bottom">
                                <div id="apply-button-container">
                                    <a href="https://docs.google.com/forms/d/e/1FAIpQLSeBCj4ZXODo7p4GA8Q2ehez2aKHT--Oc0E2Y44XVHJpfI8W1A/viewform" target="_blank" rel="noopener noreferrer">
                                        <button class="apply-button">Apply</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="column-container">
                    <div class="column-number-container">
                        <h4 class="column-number">2</h4>
                    </div>

                    <div class="clip-top column-two"></div>

                    <div class="clip-bottom-shell">
                        <div class="clip-bottom">
                            <div class="column-two-top"></div>

                            <h3 class="column-header">Illustrate!</h3>

                            <p>Draw Adventure Ted doing something you enjoy and submit art to <span class="ccs-green">arttoheart@childhoodcancer.org</span>.</p>
                        
                            <div class="column-bottom-content-container column-two-bottom">
                                <button class="submit-button">
                                    Submit
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="column-container">
                    <div class="column-number-container">
                        <h4 class="column-number">3</h4>
                    </div>

                    <div class="clip-top column-three"></div>

                    <div class="clip-bottom-shell">
                        <div class="clip-bottom">
                            <div class="column-three-top">
                                <img src="/assets/img/art-to-heart-images/steps/step-3-crayon-1.png" alt="Adventure Ted sketch">
                            </div>

                            <h3 class="column-header">Sit Tight!</h3>

                            <p>A member from the Childhood Cancer Society will contact you within 2 weeks after submitting your art!</p>

                            <div class="column-bottom-content-container column-three-bottom"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="current-submissions-container">
        <div class="submissions-header-container">
            <h2 class="current-submissons-header">Current Submissions</h2>
        </div>

        <div class="carousel-container">
            <div class="main-gallery js-flickity">
                <div class="gallery-cell cell-one">
                    <img src="/assets/img/art-to-heart-images/current-submissions/ted-dance.png" alt="Adventure Ted dancing on stage">
                </div>

                <div class="gallery-cell cell-two">
                    <img src="/assets/img/art-to-heart-images/current-submissions/ted-craft.png" alt="Adventure Ted exploring outer space in an spaceship">
                </div>

                <div class="gallery-cell cell-three">
                    <img src="/assets/img/art-to-heart-images/current-submissions/ted-surf.png" alt="Adventure Ted surfing on a wave">
                </div>
            </div>

            <div class="artist-name-container">
                <div class="artist-name">
                    <h2 class="artist-name-header">Artist's Name</h2>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="submission-post-container">
        <div class="submission-image-container">
            <img src="/assets/img/art-to-heart-images/ted-misc/ted-waving.png" alt="Adventure Ted waving to the webpage reader">
        </div>

        <div class="submission-text-container">
            <h3 class="post-submission-header">Post on Instagram and tag @AdventureTed.Official</h3>
            <p>Show off your art! Post your submission to Instagram and tag 
                <a href="https://www.instagram.com/adventureted.official/?hl=en" target="_blank" rel="noopener noreferrer">
                <span class="ccs-green">@adventureted.official<i class="fa-brands fa-instagram"></i></a></span>. We look forward 
                to your submissions!
            </p>
        </div>
    </div>
    <div class="mobile-image-container"></div>
</section>

<section>
    <div class="contact-form-container">
        <div class="center-container">
            <div class="form-text-content">
                <div class="header-container">
                    <h3 class="form-header">Submit sketch!</h3>
                </div>
                <div class="apply-section-content">
                    <p>Submit your sketch to <span class="ccs-green"><a href="mailto:adventurers@childhoodcancersociety.org?subject=Art To Heart Campaign Submission">
                        ArtToHeart@ChildhoodCancerSociety.org</a></span> or use the submission form below!</p>
                </div>
            </div>
        </div>

        <div class="form-container">
            <form action="/submit" method="POST" enctype="multipart/form-data">
                <label for="name"></label>
                <input type="text" id="name" name="name" placeholder="Name">
                
                <label for="email"></label>
                <input type="email" id="email" name="email" placeholder="Email">
                                        
                <label for="message"></label>
                <textarea id="message" name="message" placeholder="Your message"></textarea>
                
                <label for="photo"></label>
                <input type="file" id="photo" name="photo">
                
                <input type="submit" value="Submit">
            </form>
        </div>
    </div>
</section>

<section>
    <div class="faq-container">
        <div class="faq-header-container">
            <h2 class="faq-header">FAQ</h2>
        </div>

        <div class="faq-accordion-container">
            <input type="checkbox" id="title1"/>
            <label for="title1"><h3>What is the Adventure Application?</h3></label>

            <div class="content">
                <p>The purpose of the <span class="ccs-green"><a href="https://docs.google.com/forms/d/e/1FAIpQLSeBCj4ZXODo7p4GA8Q2ehez2aKHT--Oc0E2Y44XVHJpfI8W1A/viewform" 
                    target="_blank" rel="noopener noreferrer">Adventure Ted Application</a></span> is to fulfill wish grants for patients
                    with pediatric cancer.  Through the application, Childhood Cancer Society can reach a broader audience and engage
                    supporters in a variety of activities, such as making donations, participating in fundraising events, sharing information
                    on social media, and volunteering their time and skills.
                </p>
            </div>

            <input type="checkbox" id="title2"/>
            <label for="title2"><h3>What are the rules?</h3></label>

            <div class="content">
                <ol class="1">
                    <li>Draw Adventurer Ted doing something you enjoy!</li>
                    <li>Must be age appropriate.</li>
                    <li>Plagiarism will automatically be disqualified.</li>
                </ol>
            </div>

            <input type="checkbox" id="title3"/>
            <label for="title3"><h3>Who pays for the trip?</h3></label>

            <div class="content">
                <p>Childhood Cancer Society.</p>
            </div>

            <input type="checkbox" id="title4"/>
            <label for="title4"><h3>How many people are allowed on the trip?</h3></label>

            <div class="content">
                <p>Up to 6 people can join you on this trip.</p>
            </div>

            <input type="checkbox" id="title5"/>
            <label for="title5"><h3>What is the deadline for this contest?</h3></label>

            <div class="content">
                <p>The contest will run until Month Day, Year.</p>
            </div>

            <input type="checkbox" id="title6"/>
            <label for="title6"><h3>Can I choose where I want to go?</h3></label>

            <div class="content">
                <p>Winners of this contest can only choose from a trip to VIP Disney/Universal/SeaWorld Vacation with 5-star lodging
                    for a week at Give Kids The World Village.
                </p>
            </div>
        </div>
    </div>
</section>
