@media (width >= 768px) {
  footer{
    padding: 5rem 7rem;
  }

  .site-map {
    justify-self: center;
    grid-template-columns: repeat(3, minmax(12.5rem, 1fr));
  }

  .footer-search {
    min-width: 40%;
  }
}

@media (width >= 1024px) {
  footer {
    column-gap: 7rem;
  }

  .site-map {
    justify-self: center;
    grid-template-columns: repeat(3, minmax(12.5rem, 1fr));
  }
}

@media (width >= 1440px) {
  footer {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    column-gap: 7rem;
  }

  .site-map {
    justify-self: start;
    grid-template-columns: repeat(3, minmax(12.5rem, 1fr));
  }

  .footer-right {
    justify-self: end;
  }

  .footer-search {
    min-width: 80%;
  }

  .footer-socials {
    justify-self: start;
  }

  .footer-socials a {
    margin: 0 1.5rem 0 0;
  }
}