@import url('./header.css');
@import url('./footer.css');
@import url('./normalize.css');
@import url('./art-to-heart-styles.css');
@import url('./carousel.css');
/* add in scholars import too... */
  
html {
  box-sizing: border-box;
}

body {
  font-family: var(--font-body-quicksand);
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 0.1px;
  height: 100%;
}

section {
  height: 100%;
  width: 100%;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  --primary-ccs-color: #452264;
  --secondary-ccs-color: #52B788;
  --tertiary-ccs-color: #FFF;
  --quaternary-ccs-color: #7C6492;
  --font-header-nunito: 'Nunito', sans-serif;
  --font-body-quicksand: 'Quicksand', sans-serif;
}

.ccs-green {
  color: #52B788;
}

h1, h2, h3, h4 {
  font-family: var(--font-header-nunito);
  font-weight: 600;
  letter-spacing: 0.2px; 
}

h1 {
  font-size: 3.5rem; 
  line-height: 4.5rem;
}

h2 {
  font-size: 2.5rem; 
  line-height: 3.5rem;
}

h3 {
  font-size: 2rem; 
  line-height: 2rem;
}

h4 {
  font-size: 1.5rem; 
  line-height: 4.5rem;
}

body {
  font-family: var(--font-body-quicksand);
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 0.1px;
}
