@import url('./header.css');
@import url('./footer.css');
@import url('./normalize.css');
@import url('./art-to-heart-styles.css');
@import url('./scholars-styles.css');
  
html {
  width: 100%;
  box-sizing: border-box;
}

section {
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

:root {
  --primary-ccs-color: #452264;
  --secondary-ccs-color: #52B788;
  --tertiary-ccs-color: #FFF;
  --quaternary-ccs-color: #7C6492;
  --font-header-nunito: 'Nunito';
  --font-body-quicksand: 'Quicksand';
}

.max-w {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

.bg-primary {
  background-color: var(--primary-ccs-color);
}

.ccs-green {
  color: var(--secondary-ccs-color);
  text-decoration: none;
  text-decoration-color: var(--secondary-ccs-color);
}

h1, h2, h3, h4 {
  font-family: var(--font-header-nunito), sans-serif;
  font-weight: 600;
  letter-spacing: 0.2px; 
}

h1 {
  font-size: 3.5rem; 
  line-height: 4.5rem;
  margin: 0 0 .5rem;
  color: var(--tertiary-ccs-color);
}

h2 {
  font-size: 2.5rem; 
  line-height: 3.5rem;
  margin: 0 0 1rem;

}

h3 {
  font-size: 2rem; 
  line-height: 2rem;
}

h4 {
  font-size: 1.5rem; 
  line-height: 4.5rem;
}

body {
  font-family: var(--font-body-quicksand), sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 0.1px;
  height: 100%;

}
