header {
  position: sticky; 
  top: 0;
  width: 100%;
  z-index: 1000;
}
  
/* @media (width >= 768px) {
    .logo-nav{
      width: 5rem;
    }
} */
  
@media (width >= 1024px) {
  /* .logo-nav-txt { 
      display: none; 
  } */
  
  /* .desktop-nav {
    display: flex;
  } */
  
  /* .mobile-nav {
    display: none;
  } */
  
  /* .desktop-nav li {
    display: inline-block; 
    padding: 0 1rem;
  } */
  
  /* .donate-button {
    display: block;
  } */
  
  /* .mobile-menu-icon {
    display: none;
  } */
  
  /* .mobile-donate-btn {
    display: none;
  } */
}

@media (width >= 1440px) {
  /* nav {
    padding: 0 6rem;
  } */

  /* .logo-nav-txt { 
    display: inline-block;
    text-align: left;
    width: 20%;
  } */

  /* .donate-button {
    display: inline-block
  } */

  /* .mobile-menu-icon {
    display: none;
  }      */
}