body {
    /* background-color: var(--primary-ccs-color); */
    color: var(--tertiary-ccs-color);
}

p {
    line-height: 1.5rem;
    letter-spacing: .1px;
    font-size: 1rem;
}

section {
    display: flex;
}

.hero-bold {
    font-weight: bold;
}

.hero {
    display: flex;
    flex-direction: column;
    background: url("/assets/img/ted-scholars-images/hero-image.png") no-repeat right top;
    background-size: cover;
    padding: 4rem 2rem;
    align-items: center;
    text-align: center;
    width: 100%;
}

.junkers-foundation-container h2, .hero h2 {
    margin: 0 0 .5rem;
}

.opportunity-text-container h2 {
    margin: 0 0 2rem;
}

.hero h2 {
    margin: 0 0 .25rem;
}
  
.h2-emphasis {
    font-size: 1.2em;
}

.cap {
    margin: 0 auto .5rem;
}

.time-left {
    margin-bottom: .25rem;
}

.timer {
    font-family: var(--font-header-nunito);
    font-size: 2.5em;
    line-height: 3.5rem;
    font-weight: lighter;
    display: flex;
    flex-flow: row nowrap;
    border: solid;
    border-radius: .5rem;
    border-width: .25rem;
    width: 100%;
    padding: 1rem 0;
    color: var(--tertiary-ccs-color);
    justify-content: space-evenly;
    margin: 0 0 2rem;
}
  
.time-unit {
    width: 85%;
}
  
.unit-name {
    font-size: .375em;
    line-height: 2rem;
    font-style: italic;
    margin: 0 auto;
}

.apply-now a {
    font-family: var(--font-header-nunito);
    font-size: 2em;
    line-height: 2rem;
    text-decoration: none;
    color: var(--tertiary-ccs-color);
    margin: 0 0 .5rem;
}
  
.apply-now hr {
    color: var(--secondary-ccs-color);
    background: var(--secondary-ccs-color);
    height: .125rem;
    border: 0;
    margin: 1rem 0 0;
}

.opportunity-text-container {
    background-image: url('/assets/img/ted-scholars-images/classroom.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    width: 100%;
    text-align: center; 
    padding-top: 3.75rem;
}

.junker-info {
    color:  var(--secondary-ccs-color);
    font-weight: bold;
}

#dollar.info, #small-dollar.info {
    color:  var(--secondary-ccs-color);
}

#dollar.info {
    font-size: 3rem;
}

#small-dollar.info {
    font-weight: bold;
    font-size: 1rem;
}

.sponsored-text-container {
    margin: 0 0 2rem;
}

.scholarship-details-text {
    margin: 0 0 4rem;
}

.scholarship-amount-container {
    margin: 0 0 2rem;
}

.flex-section {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    width: 50%;
    height: auto;
}

.requirements-section-left {
    border-left: solid 3px var(--tertiary-ccs-color);
}

.details-section-right {
    border-right: solid 3px var(--tertiary-ccs-color);
}

.requirements-text-container {
    margin-left: 6rem;
    margin-right: 6rem;
}

.requirements-title {
    margin-bottom: 1rem;
}

.requirements-list {
    margin: 0 0 1rem 2rem;
}

.requirements-deadline {
    font-weight: 700;
    text-decoration-line: underline;
    color: var(--secondary-ccs-color);
}

.checklist-image-container {
    width: 50%;
    height: 25rem;
    background-image: url("/assets/img/ted-scholars-images/requirements-background.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.details-image-container {
    width: 50%;
    height: 37rem;
    background-image: url("/assets/img/ted-scholars-images/details_background.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.details-text-container {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin: 0 0 1rem 2rem;
}

.details-section-list li {
    margin: 0 6rem 1rem 2rem;
}

.details-section-list .list-header {
    font-weight: bold;
    list-style-type: none;
    margin-left: 0;
    color: var(--secondary-ccs-color);
}

.apply-section-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background: url("/assets/img/ted-scholars-images/apply-background.png");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 4rem 0;
}

.apply-title {
    text-align: center;
    margin: 0 0 1rem;
}

.apply-instructions-container {
    width: 40%;
}

.apply-section-list {
    margin: 1rem 0 1rem 2rem;
}

.apply-section-list a {
    color: var(--secondary-ccs-color);
    text-decoration: none;
}

.instructions-conclusion-container {
    width: 35%;
    margin: 0 0 2rem;
}

.video-container {
    margin: 0 0 4rem;
    width: 50rem;
    height: 28.125rem;
}

.apply-today-title {
    text-align: center;
    margin: 0 0 1rem;
}

.apply-button {
    letter-spacing: 0.2px;
    background-color: var(--secondary-ccs-color);
    border-radius: .5rem;
    border: none;
    width: 168px;
    height: 48px;
    margin-bottom: 4rem;
}

.apply-button a {
    color: var(--tertiary-ccs-color);
}

/* mobile */
@media (360px <= width <= 767px) {
    .requirements-text-container {
        margin: 0 2rem;
    }

    .details-text-container {
        margin: 0 2rem;
    }

    .flex-section {
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .requirements-section-left {
        height: 25rem;
        background-image: url("/assets/img/ted-scholars-images/requirements-background.png");
        background-position: right;
    }

    .details-section-right {
        height: auto;
        background-image: url("/assets/img/ted-scholars-images/details_background.png");
        padding: 4rem 0;
    }

    .requirements-section-left, .details-section-right {
        border: none;
    }

    .checklist-image-container {
        display: none;
    }

    .requirements-deadline {
        text-align: center;
    }

    .details-section-list li {
        margin: 0 0 0 2rem;
    }

    .details-image-container {
        display: none;
    }

    h2, .requirements-title, .details-title {
        text-align: center;
    }

    .instructions-conclusion {
        margin: 0 2rem;
        text-align: center;
    }

    .apply-instructions-container {
        width: 100%;
    }

    .instructions-conclusion-container {
        width: 100%;
    }

    .apply-section-list {
        margin: 0 2rem 1rem 4rem;
    }

    .video-container {
        margin: 0 0 4rem;
        width: 100%;
    }
}

/* small-screen laptop computers */
@media (768px <= width <= 1023px) {
    .hero {
        padding: 4rem;
    }

    .timer {
        font-size: 4em;
        width:85%;
        padding: 3rem 2rem;
        margin: 0 0 4rem;
    }
    
    .time-unit {
        width: 85%
    }
      
    .unit-name {
        margin: .5rem auto;
    }

    .requirements-text-container {
        margin-left: 0 4rem;
    }

    .details-section-right {
        padding: 2rem 0;
    }

    .details-image-container {
        height: auto;
    }

    .details-text-container {
        margin: 0 0 0 2rem;
    }

    .details-section-list li {
        margin-right: 4rem;
    }

    .apply-instructions-container {
        width: 60%;
    }

    .instructions-conclusion-container {
        width: 60%;
    }
}

/* desktop computers */
@media (1024px <= width) {
    .hero {
        padding: 4rem 6rem;
    }
    
    .timer {
        width: 65%;
        padding: 4rem 0;
        border-width: .5rem
    }

    .details-section-right {
        padding: 2rem 0;
    }

    .details-image-container {
        height: auto;
    }
}